<h1>Editing poketrainer</h1>

<%= render "form", poketrainer: @poketrainer %>

<br>

<div>
  <%= link_to "Show this poketrainer", @poketrainer %> |
  <%= link_to "Back to poketrainers", poketrainers_path %>
</div>
